.colorText {
	color: green;
}

.headerTable {
	text-align: center;
	background: none repeat scroll 0 0 #e5e5e5;
	border-bottom: 1px solid #bbbbbb;
	padding: 16px;
}

.rowTable {
	text-align: center;
	background: none repeat scroll 0 0 #ffffff;
	border-top: 1px solid #bbbbbb;
}

.rowTableLine {
	text-align: center;
	background: none repeat scroll 0 0 #f9f9f9;
	border-top: 1px solid #bbbbbb;
}